{% extends 'base.html' %}

{% block title %} Product Details {% endblock title %}


{% block content %}

    <h4>Produt: {{ product.title }}</h4>
    <div class="row">
        <div class="col-md-6">
            <img src="{{ product.image.url }}" alt="" class="img-fluid" style="height:400px">
        </div>

        <div class="col-md-6">
            <h4>{{product.title}} (viewed: {{ product.view_count }} times)</h4>
            <h5>Category: {{ product.category }}</h5>
            <h5>Price: <strike>Tk{{ product.market_price }}</strike> Tk{{product.salling_price }}</h5>
            <a class="btn btn-info" href="{% url 'kvapp:addtocart' product.id %}">Add To Cart</a>
            <p>Warrinty: {{ product.warranty}}</p>
            <p>Return Policy: {{product.return_policy}}</p>
            <hr>
            <p>Description:{{ product.description }}</p>
        </div>
    </div>
{% endblock content %}